*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #252525;
    padding: 30px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 40px;
    padding: 20px;
    margin-top: 30px;
}
.card1,.card2,.card3{
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(66, 66, 66);
    padding: 20px;
    font-size: 10px;
    border-radius: 20px;
    font-weight: bold;
}
.card4,.card5,.card6{
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(66, 66, 66);
    padding: 20px;
    font-size: 10px;
    border-radius: 20px;
    font-weight: bold;
}
.heading{
    color: rgb(212, 255, 0);
    text-align: center;
}
canvas{
    margin-top: 20px;
}
.feed{
    margin-top: 100px;
}
.Grades{
    margin-top: 100px;
}
.subject{
    margin-top: 100px;
}